html, body, #root {
  height: 100%;
  background: #262626;
}

body {
  margin: 0;
  background: #262626;
}

.ant-layout {
  background: #161616;
}

.ant-layout-header {
  background: #202020;
}

.ant-input-affix-wrapper .ant-input-suffix {
  right: 0px;
}