.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  background: #262626;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  padding: .6em 0;
  color: #262626;
  margin: 0;
}

.header {
  position: fixed;
  width: 100;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  overflow: hidden;
}

.content {
  background: #262626;
  align-items: center;
  align-self: center;
  padding: 0 50px;
  margin-top: 64px;
  height: 100%;
}

h1 {
  color: whitesmoke;
}